<h3><i class="fas fa-solid fa-book"></i> What I Do Here</h3>
<div class="section">
  <p class="lead">Create journal entries of all you do at work and your
    accomplishments</p>
</div>
<div class="divider">

</div>
<div class="section">
  <a href="/auth/google" class="btn blue darken-1">
    <i class="fab fa-google left"></i>Log In With Google
  </a>
</div>